<div style="margin-left: 30%; padding-top: 5%">
  <form action="/articles" method="post">
    <h1>Create Your Article</h1>
    <label style="padding-right: 20px" for="title"> Article Title: </label><br>
    <input type="text" id="title" name="title"><br><br><br>
    <label for="content"> Article Content: </label><br>
    <textarea style="box-sizing: content-box; width: 25%; border: solid #D3D3D3 1px; height: 100px" type="text" id="content" name="content"></textarea><br><br>
    <input type="submit" value="submit">

    <!-- <a href="/articles">
      <input type="submit" value="Cancel">
    </a> -->

  </form>


</div>
