<head><title>New Articles</title></head>
<body>
<form method="POST" action="/articles">
<label for="title">Article 1 Title: </label>
<input type="text" id="title" name="articles[][title]">
<br>
<label for="title">Article 1 Content: </label>
<input type="text" id="content" name="articles[][content]">
<br><br>
<label for="title">Article 2 Title: </label>
<input type="text" id="title" name="articles[][title]">
<br>
<label for="title">Article 2 Content: </label>
<input type="text" id="content" name="articles[][content]">
<br><br>
<label for="title">Article 3 Title: </label>
<input type="text" id="title" name="articles[][title]">
<br>
<label for="title">Article 3 Content: </label>
<input type="text" id="content" name="articles[][content]">
<br>
<input type="submit"></input>
</form>
</body>