<!DOCTYPE html>
  <body>
    <form action='/articles' method='post'>
      <p><label>Title: </label><input id='title' type='text' name='title'></p>
      <p><label>Content: </label><input id='content' type='text' name='content'></p>
      <p><input id='submit' type='submit'></p>
    </form>
  </body>
</html>